body {
    font-family: Arial, sans-serif;
    background-color: #06061394;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#text-input {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #d3c6c6;
    border-radius: 5px;
    font-size: 16px;
}

#check-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#check-btn:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

#result.is-palindrome {
    color: rgb(215, 230, 215);
}

#result.is-not-palindrome {
    color: red;
}